{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <main style="min-height: 100vh;">
      <div id="content">{% block content %} {% endblock %}</div>
      <div id="sidebar" style=" padding-top: 0; min-height: 100vh;">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        <p>I have published {% total_post  %} posts</p>

        <b>lattest_posts</b>
        {% latest_posts 2 %} <br>
        <b>Most commented post</b>
        {% get_most_commented_post 3 as most_commented_post %}
        <ul>
          {% for post in most_commented_post %}
          <li>
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
          </li>

          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
